{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.title}} - Supprimer </title>
{% endblock %}

{% block top %}
    <p>
        <span class="prev"><a href="{{ path('client_list') }}">Clients></a></span>
        <span class="prev"><a href="{{ path('client_show', { 'id': entity.need.client.id }) }}">{{entity.need.client}}</a></span>
        <span class="prev"><a href="{{ path('need_show', { 'id': entity.need.id }) }}">{{entity.need}}</a></span>
        <span class="prev"><a href="{{ path('project_show', { 'id': entity.id }) }}">{{entity.title}}</a></span>
        Delete
    </p>
{% endblock %}

{% block body %}

    <div class="title__container">
        <h1 class="lvl1">{{entity.title}}</h1>
    </div>
    



    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc-inline-edition edit">
                <p>Êtes-vous sûr de vouloir effacer {{entity.title}} ?</p>
                 <form action="{{ path('project_delete', {'id': entity.id}) }}" method="post">
                    <a href="{{ path('project_show', {'id': entity.id}) }}" class="btn--save--reverse">
                      Retour au projet
                    </a>
                    {# Ici j'ai écrit le bouton de soumission à la main #}
                    <button type="submit" class="btn--delete--reverse">Supprimer</button>
                    {# Ceci va générer le champ CSRF #}
                    {{ form_rest(form) }}
                  </form>
            </div>
        </div>
    </div>



	

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/flyddashboard/js/additems.js') }}"></script>
{% endblock %}