{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block top %}
    <p>Projets</p>
{% endblock %}

{% block body %}
    <div class="title__container">
        <a href="{{ path('client_add') }}" class="btn btn--edit">Nouveau client</a>
        <h1 class="lvl1">Dashboard</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc--search">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <label>Filtrer par: </label>
                    {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.users, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.save) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="row">
    {% for entity in entities %}
        <div class="col-sm-12 project">
            <div class="project__title">
                {% if entity.status %}
                    <div class="status {{ entity.status.slug }}"></div>
                {% endif %}
                {% if entity.category %}
                    <div class="category sprite {{ entity.category.name|lower }}"></div>
                {% endif %}
                <h2>
                    <span class="project__title__infos">{{ entity.need.client.name }} > {{ entity.need.title }}</span>
                    <a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                </h2>
            </div>
            <div class="bloc bloc--general bloc-inline-edition">
                <div class="form-group">                    
                    <label class="control-label">Catégorie</label>
                    <div class="data">
                        {{ entity.category.name }}
                    </div>
                </div>

                <div class="form-group">                    
                    <label class="control-label">En cours</label>
                    <div class="data">
                        {{ render(controller('FlydDashboardBundle:ProjectTaskUser:getFirstPendingTask', {'id': entity.id}) ) }}
                    </div>
                </div>

                <div class="form-group">                    
                    <label class="control-label">A venir</label>
                    <div class="data">
                            {{ render(controller('FlydDashboardBundle:ProjectTaskUser:getFirstComingTask', {'id': entity.id}) ) }}                        
                    </div>
                </div>

                <div class="form-group">                    
                    <label class="control-label">Equipe</label>
                    <div class="data">
                        <ul>
                        {% for user in entity.users %}
                            <li>{{ user.username }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="form-group">                    
                    <label class="control-label">Deadline</label>
                    <div class="data">
                        {{ entity.deadline| localizeddate('full', 'none', 'fr') }}
                    </div>
                </div>

                <a href="{{ path('project_show', { 'id': entity.id }) }}" class="btn--save">Voir</a>

                

            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
    
        $('.project__title').on('click', function(e) {
            e.preventDefault();
            $(this).parent().addClass('active');
            $(this).parent().siblings().removeClass('active').find('.bloc').slideUp(400);

            $(this).siblings().slideToggle();
        });
        $('.project .bloc').hide();

    </script>
{% endblock %}
