{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.need.client}} > {{entity.need}} > {{entity.title}}</title>
{% endblock %}

{% block body %}
    
    <div class="title__container">
        <a href="{{ path('project_delete', { 'id': entity.id }) }}" class="btn--delete">Delete</a>
        <a href="{{ path('project_edit', { 'id': entity.id }) }}" class="btn--edit">Edit</a>

        <p class="breadcrumb">
           <a href="{{ path('client_show', { 'id': entity.need.client.id }) }}">{{entity.need.client}} ></a>
           <a href="{{ path('need_show', { 'id': entity.need.id }) }}">{{entity.need}}</a>
        </p>
        <h1 class="lvl1">{{entity.title}}</h1>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="bloc bloc-inline-edition">
                <h2 class="bloc__title">Informations générales</h2>

                <div class="form-group">
                    <label class="control-label">Catégorie</label>

                    <div class="data">
                        <p>{{entity.category}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Date de début</label>

                    <div class="data">
                        {{ entity.startDate| localizeddate('full', 'none', 'fr') }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Deadline</label>

                    <div class="data">
                        {{ entity.deadline| localizeddate('full', 'none', 'fr') }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Date de fin</label>

                    <div class="data">
                        {{ entity.endDate| localizeddate('full', 'none', 'fr') }}
                    </div>
                </div>


            </div>
            <div class="bloc project__suppliers">
                <h2 class="bloc__title">Fournisseurs</h2>
                <div class="row">
                    {% for supplier in entity.suppliers %}
                        {% include "FlydDashboardBundle:Supplier:mini.html.twig" %}
                    {% endfor %}
                </div>
                <button class="btn--add">+</button>
                {{ render(controller('FlydDashboardBundle:Supplier:getForm', {'id': entity.id}) ) }}
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bloc project__team">
                <h2 class="bloc__title">équipe</h2>
                <div class="row">                    
                {% for user in entity.users %}
                    {% include "FlydDashboardBundle:User:mini.html.twig" %}                    
                {% endfor %}
                </div>                
                <button class="btn--add">+</button>
                {{ render(controller('FlydDashboardBundle:User:getForm', {'id': entity.id}) ) }}                
            </div>
        </div>
        <div class="col-sm-12">
            <div class="bloc">
                <h2 class="bloc__title">Tâches prédéfinies</h2>
                {% if entity.projecttaskusers %}
                <table class="taskcontainer">
                    <!-- <thead class="thead">
                        <tr>
                            <th>Êtapes</th>
                            <th>Tâche</th>
                            <th>Temps estimé</th>
                            <th>Temps réel</th>
                            <th>Statut</th>
                            <th>Personne</th>
                            <th>Important</th>
                            <th>Suppr</th>
                        </tr>
                    </thead> -->

                    <tbody class="tbody">
                    {% for form in forms %}
                        {% include "FlydDashboardBundle:ProjectTaskUser:mini.html.twig" %}
                    {% endfor %}                        
                    </tbody>
                </table>
                {% endif %}
                <!-- Form pour créer ptu avec task imbriquée -->
                {{form_start(ptuform, 
                    {'attr': {
                        'class': 'form-horizontal',
                        'id' : 'flyd_dashboardbundle_projecttaskuser'
                    }, 
                     'action': path('project_ajax_add_ptu', {'id': entity.id})}
                )}}
                    <h2 class="bloc__subtitle">Ajouter une tâche</h2>
                    <div class="newtask">  
                        <input type="hidden" name="task_id" id="task_id" />
                        {{ form_widget(ptuform.position) }}                      
                        {{ form_label(ptuform.task.step, "Etape", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(ptuform.task.step, {'attr': {'class': 'form-control'}}) }}

                        {{ form_label(ptuform.task.name, "Nom de la tâche", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(ptuform.task.name, {'attr': {'class': 'form-control'}}) }}

                       
                    </div>


                {{ form_rest(ptuform) }}
                {{ form_end(ptuform) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/flyddashboard/js/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <link href="{{ asset('bundles/flyddashboard/js/vendor/jquery-ui/jquery-ui.min.css') }}"></link>
    <script>
    
        var tasks = [
            {% for mini in minitasks %}
            { label: "{{mini.name}}", value: "{{mini.name}}", id: "{{mini.id}}", step: "{{mini.step}}" },
            {% endfor %}
        ];

        var updateOrderUrl = "{{path('project_ajax_reorder_ptus', {'id': entity.id})}}";
        var removeUrl = "{{path('project_ajax_remove_ptu', {'id': entity.id})}}";

    </script>
    <script type="text/javascript" src="{{ asset('bundles/flyddashboard/js/projecttaskshandler.js') }}"></script>
     <script type="text/javascript" src="{{ asset('bundles/flyddashboard/js/additems.js') }}"></script>   
{% endblock %}