{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.title}}</title>
{% endblock %}

{% block body %}
    
    <a href="{{ path('supplier_delete', { 'id': entity.id }) }}" class="btn--delete">Delete</a>
    <a href="{{ path('supplier_edit', { 'id': entity.id }) }}" class="btn--edit">Edit</a>
    <h1 class="lvl1">{{entity.title}}</h1>
    <div class="row">
        <div class="col-sm-8">
            <div class="bloc bloc-inline-edition">
                <h2 class="bloc__title">Informations générales</h2>

                <div class="form-group">
                    <label class="control-label">Catégorie</label>

                    <div class="data">
                        {% if entity.category == 0 %}
                            <p>Design</p>
                        {% elseif entity.category == 1 %}
                            <p>Motion</p>
                        {% elseif entity.category == 2 %}
                            <p>Web</p>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Date de début</label>

                    <div class="data">
                        {{ entity.startDate| localizeddate('full', 'none', 'fr') }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Deadline</label>

                    <div class="data">
                        {{ entity.deadline| localizeddate('full', 'none', 'fr') }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Date de fin</label>

                    <div class="data">
                        {{ entity.endDate| localizeddate('full', 'none', 'fr') }}
                    </div>
                </div>


            </div>
            <div class="bloc">
                <h2 class="bloc__title">Fournisseurs</h2>
                {% for supplier in entity.suppliers %}
                    {% include "FlydDashboardBundle:Supplier:mini.html.twig" %}
                {% endfor %}
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bloc">
                <h2 class="bloc__title">équipe</h2>
                {# for user in users #}
                    <h4 class="lvl4"></h4>
                {# endfor #}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/flyddashboard/js/additems.js') }}"></script>
{% endblock %}