<p class="supplier--mini col-sm-12">
	<a href="{{ path('supplier_show', { 'id': supplier.id }) }}">{{supplier.name}} - <span>{{supplier.job}}</span></a> <a class="line--remove remove" data-id="{{ supplier.id }}" href="{{ path('project_ajax_remove_supplier', {'id': entity.id}) }}">Retirer</a>
</p>
