{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.name}}</title>
{% endblock %}

{% block top %}
    <p>
        <span class="prev"><a href="{{ path('supplier_list') }}">Fournisseurs</a></span>
        {{ entity.name }}
    </p>
{% endblock %}

{% block body %}
    
    <div class="title__container">
        <a href="{{ path('supplier_delete', { 'id': entity.id }) }}" class="btn--delete">Delete</a>
        <a href="{{ path('supplier_edit', { 'id': entity.id }) }}" class="btn--edit">Edit</a>
        <h1 class="lvl1">{{entity.name}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc-inline-edition">
                <h2 class="bloc__title">Informations générales</h2>

                <div class="form-group">
                    
                    <label class="control-label">Métier</label>

                    <div class="data">
                        {{ entity.job }}
                    </div>

                </div>

                <div class="form-group">
                    
                    <label class="control-label">Date d'entrée</label>

                    <div class="data">
                        {{ entity.entrance| localizeddate('full', 'none', 'fr') }}
                    </div>

                </div>

                {% if entity.origin %}
                <div class="form-group">
                    
                    <label class="control-label">Origine</label>

                    <div class="data">
                        {{ entity.origin.name }}
                    </div>

                </div>
                {% endif %}


                {%for address in entity.addresses %}

                <div class="form-group">
                    {% if address.type == 0 %}
                        <label class="control-label">Adresse</label>
                    {% elseif address.type == 1 %}
                        <label class="control-label">Adresse de facturation</label>
                    {% elseif address.type == 2 %}
                        <label class="control-label">Adresse d'expédition</label>
                    {% endif %}
                    <div class="data">
                        <p>{{ address.street }}</p>
                        <p>{{ address.streetComp }}</p>
                        <p>{{ address.zipcode }} {{ address.city }} {{ address.cityComp }}</p>
                    </div>
                    
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Contacts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc">
                <h2 class="bloc__title">Contacts</h2>
                <div class="row" id="contacts">
                    {% for contact in entity.contacts %}
                      {% include "FlydDashboardBundle:Contact:show.html.twig" %}                    
                    {% endfor %}
                </div> 
                <a href="{{ path('contact_ajax_delete') }}" class="pull-right btn--add">+</a> 
                {{ render(controller('FlydDashboardBundle:Contact:getForm', {'id': entity.id})) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/flyddashboard/js/additems.js') }}"></script>
{% endblock %}