{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.name}}</title>
{% endblock %}

{% block top %}
    <p>
        <span class="prev"><a href="{{ path('supplier_list') }}">Fournisseurs</a></span>
        {{ entity.name }}
    </p>
{% endblock %}

{% block body %}
    
    <div class="title__container">
        <a href="{{ path('supplier_delete', { 'id': entity.id }) }}" class="btn--delete">Supprimer</a>
        <a href="{{ path('supplier_edit', { 'id': entity.id }) }}" class="btn--edit">Modifier</a>
        <h1 class="lvl1">{{entity.name}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc-inline-edition">
                <h2 class="bloc__title">Informations générales</h2>

                <div class="form-group">
                    
                    <label class="control-label">Métier</label>

                    <div class="data">
                        {{ entity.job }}
                    </div>

                </div>

                <div class="form-group">
                    
                    <label class="control-label">Date d'entrée</label>

                    <div class="data">
                        {{ entity.entrance| localizeddate('full', 'none', 'fr') }}
                    </div>

                </div>

            </div>
        </div>
    </div>

        <!-- Adresse -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc">
                <h2 class="bloc__title">Adresses</h2>
                <div class="row" id="addresses">
                    {% for address in entity.addresses %}
                      {% include "FlydDashboardBundle:Address:show.html.twig" %}                    
                    {% endfor %}
                </div> 
                <button class="pull-right btn btn--add">+</button> 
                {{ render(controller('FlydDashboardBundle:Address:getForm', {'id': entity.id})) }}                
            </div>
        </div>
    </div>

    <!-- Contacts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc">
                <h2 class="bloc__title">Contacts</h2>
                <div class="row" id="contacts">
                    {% for contact in entity.contacts %}
                      {% include "FlydDashboardBundle:Contact:show.html.twig" %}                    
                    {% endfor %}
                </div> 
                <button class="pull-right btn--add">+</button> 
                {{ render(controller('FlydDashboardBundle:Contact:getForm', {'id': entity.id})) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('js/additems.js') }}"></script>
{% endblock %}
