{# menu.html #}


<aside class="aside" id="aside">
	<nav class="nav">
		<ul class="menu">
			<li><a href="{{path('flyd_dashboard_homepage')}}">Dashboard</a></li>
			<li class="subs">Clients
				<ul class="submenu">
					<li><a href="{{path('client_add')}}">Ajouter un client</a></li>
					<li><a href="">Mes clients</a></li>
					<li><a href="{{path('client_list')}}">Tous les clients</a></li>
				</ul>
			</li>
			<li class="subs">Utilisateurs
				<ul class="submenu">
					<li><a href="{{path('user_add')}}">Ajouter un utilisateur</a></li>
					<li><a href="{{path('fos_user_profile_show')}}">Mon compte</a></li>
					<li><a href="{{path('user_list')}}">Tous les utilisateurs</a></li>
				</ul>
			</li>
			<li class="subs">Fournisseurs</a>
				<ul class="submenu">
					<li><a href="{{path('supplier_add')}}">Ajouter un fournisseur</a></li>
					<li><a href="">Mes fournisseurs</a></li>
					<li><a href="{{path('supplier_list')}}">Tous les fournisseurs</a></li>
				</ul>
			</li>
			<li class="subs">Projet</a>
				<ul class="submenu">
					<li>Mes projets</li>
					<li><a href="{{path('projectcanvas_add')}}">Créer un canevas de projet</a></li>
					<li><a href="{{path('projectcanvas_list')}}">Tous les canevas de projet</a></li>
				</ul>
			</li>
			<li>Réglages</li>
		</ul>
	</nav>
</aside>