{# menu.html #}


<aside class="aside" id="aside">
	<div class="user">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<a href="{{ path('user_show', { 'id': app.user.id }) }}" class="user__avatar">
				{% if app.user.image %}
				<img src="{{ app.user.image.webPath | apply_filter('demi') }}" / class="profil__pic">
				{% endif %}
				{{ render(controller('FlydDashboardBundle:User:getImportantPtusCount', {'id': app.user.id}) ) }}
			</a>
			<p class="user__name">
				<a href="{{ path('user_show', { 'id': app.user.id }) }}">
					{{ app.user.username }}
				</a>

			</p>
			<p class="user__logout">
				<a href="{{ path('fos_user_security_logout') }}">{{ 'Déconnexion' }}</a>
			</p>
        {% else %}
            <p class="user__login"><a href="{{ path('fos_user_security_login') }}">Log in</a></p>
        {% endif %}
	</div>
	<nav class="nav">
		<ul class="menu">
			<li>
				<a href="{{path('flyd_dashboard_homepage')}}" class="dashicons dashicons-dashboard{% if menu is defined and menu == 'dashboard' %} active{% endif %}">Dashboard</a>
			</li>
			<li>
				<a href="{{path('client_list')}}" class="dashicons dashicons-businessman{% if menu is defined and menu == 'client' %} active{% endif %}">Clients</a>
			</li>
			<li>
				<a href="{{path('user_list')}}" class="dashicons dashicons-admin-users{% if menu is defined and menu == 'user' %} active{% endif %}">Utilisateurs</a>
			</li>
			<li>
				<a href="{{path('supplier_list')}}" class="dashicons dashicons-groups{% if menu is defined and menu == 'supplier' %} active{% endif %}">Fournisseurs</a>
			</li>
			<li>
				<a href="{{path('projectcanvas_list')}}" class="dashicons dashicons-admin-generic{% if menu is defined and menu == 'projectcanvas' %} active{% endif %}">Modèle de projet</a>
			</li>
		</ul>
	</nav>
</aside>
