{# top.html #}


<header class="header">
	<a href="#" class="title" id="menu--toggle">Menu</a>
	<div class="user">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<p class="user__name">
				{{ app.user.username }}
				<img src="{{ app.user.image.webPath | apply_filter('small') }}" / class="profil__pic">
			</p>
			<ul class="user__menu">
				<li>
					<a href="{{ path('fos_user_profile_show') }}">{{ 'Mon compte' }}</a>
				</li>
				<li>
					<a href="{{ path('fos_user_security_logout') }}">{{ 'Déconnexion' }}</a>
				</li>
			</ul>
        {% else %}
            <p class="user__login"><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></p>
        {% endif %}
	</div>
</header>