{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.name}} - Supprimer</title>
{% endblock %}

{% block top %}
    <p>
        <span class="prev"><a href="{{ path('projectcanvas_list') }}">Modèle de projet</a></span>
        <span class="prev"><a href="{{ path('projectcanvas_show', { 'id': entity.id }) }}">{{ entity.name }}</a></span>
        Supprimer
    </p>
{% endblock %}

{% block body %}
    
    <div class="title__container">
        <h1 class="lvl1">{{entity.name}}</h1>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc-inline-edition edit">
                <p>Êtes-vous sûr de vouloir effacer {{entity.name}} ?</p>
                 <form action="{{ path('projectcanvas_delete', {'id': entity.id}) }}" method="post">
                    <a href="{{ path('projectcanvas_show', {'id': entity.id}) }}" class="btn--save--reverse">
                      Retour au projet
                    </a>
                    {# Ici j'ai écrit le bouton de soumission à la main #}
                    <button type="submit" class="btn--delete--reverse">Supprimer</button>
                    {# Ceci va générer le champ CSRF #}
                    {{ form_rest(form) }}
                  </form>
            </div>
        </div>
    </div>



	

{% endblock %}
