{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.name}} - Edit </title>
{% endblock %}

{% block body -%}
    
    <h1 class="lvl1">{{entity.name}}</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

	{% if form_errors(form) %}
	<div class="row">
		<div class="col-sm-12">
			<div class="bloc">
    			{{ form_errors(form) }}
			</div>
		</div>
	</div>
	{% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc-inline-edition edit">
                <h2 class="bloc__title">Informations générales</h2>

                <div class="form-group">
                	{{ form_label(form.name, "Nom", {'label_attr': {'class': 'control-label'}}) }}

					{{ form_errors(form.name) }}

					<div class="data">
						{# Génération de l'input. #}
						{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					</div>
                </div>

                <div class="form-group">
                	{{ form_label(form.entrance, "Date d'entrée", {'label_attr': {'class': 'control-label'}}) }}

					{{ form_errors(form.entrance) }}

					<div class="data">
						{# Génération de l'input. #}
						{{ form_widget(form.entrance, {'attr': {'class': 'form-control'}}) }}
					</div>
                </div>

                <div class="form-group">
                	{{ form_label(form.reminder, "Date de relance", {'label_attr': {'class': 'control-label'}}) }}

					{{ form_errors(form.reminder) }}

					<div class="data">
						{# Génération de l'input. #}
						{{ form_widget(form.reminder, {'attr': {'class': 'form-control'}}) }}
					</div>
                </div>

                <div class="form-group">
                	{{ form_label(form.type, "Type de client", {'label_attr': {'class': 'control-label'}}) }}

					{{ form_errors(form.type) }}

					<div class="data">
						{# Génération de l'input. #}
						{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
					</div>
                </div>
            </div>
        </div>
    </div>

     <!-- Adresse -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc">
                <h2 class="bloc__title">Adresses</h2>
                <div class="row" id="addresses">
                    {% for address in entity.addresses %}
                      {% include "FlydDashboardBundle:Address:show.html.twig" %}                    
                    {% endfor %}
                </div> 
                <a href="{{ path('address_ajax_getform') }}" class="pull-right btn btn--add" id="address__more">+</a> 
            </div>
        </div>
    </div>

     <!-- Contacts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc">
                <h2 class="bloc__title">Contacts</h2>
                <div class="row" id="contacts">
                    {% for contact in entity.contacts %}
                    <div class="col-sm-3 contact">
                        <p class="contact__title">{{ contact.firstname }} {{ contact.lastname }}</p>
                        <p class="contact__job">{{ contact.job }}</p>
                        <p class="contact__email">{{ contact.email }}</p>
                        <p class="contact__phone">{{ contact.phone }}</p>
                        <p class="contact__mobile">{{ contact.mobile }}</p>
                        <a class="line--remove" data-id="{{ contact.id }}" href="{{ path('contact_ajax_delete') }}">Retirer</a>
                    </div>
                    {% endfor %}
                </div> 
                {{ render(controller('FlydDashboardBundle:Address:getform')) }}
                <a href="{{ path('address_ajax_add') }}" class="pull-right btn btn--add" id="address__more">+</a> 
            </div>
        </div>
    </div>

	{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
	<a href="{{ path('client_delete', { 'id': entity.id }) }}" class="btn btn--remove">Supprimer</a>
	{{ form_widget(form.save) }}


	{# Génération automatique des champs pas encore écrits.
	Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
	et tous les champs cachés (type « hidden »). #}
	{{ form_rest(form) }}

	{# Fermeture de la balise <form> du formulaire HTML #}
	{{ form_end(form) }}

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {

    $('.line--remove').on('click', function(e){
        e.preventDefault();
        var $this = $(this),
            $parentBloc = $this.parent();
        $.ajax({
          url:            $this.attr('href'),
          type:           "POST",
          data: {
            element_id: $this.attr('data-id')
          },
          beforeSend: function(data) {
            console.log('beforsend');
          },
          success: function(data) {
            if(data['code'] == 200) {
              $parentBloc.fadeOut(400).remove();
            }
            else {
              console.log(data['response']);
            }
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log('error');
          }
        });
    });

    $('#address__more').on('click', function(e){
        e.preventDefault();
        var $this = $(this),
            $parentBloc = $this.parent();
        $.ajax({
          url:            $this.attr('href'),
          type:           "POST",
          data: {},
          success: function(data) {
            if(data['code'] == 200) {
              $parentBloc.append($(data['response']));
              console.log(data['response']);
              
            }
            else {
              $parentBloc.append('erreur');
            }
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log('error');
          }
        });
    });

    $(document).on('submit', '#flyd_dashboardbundle_address', function(e){
        e.preventDefault();
        var $this = $(this),
            $parentBloc = $this.parent();
        $.ajax({
          url:            $this.attr('action'),
          type:           $this.attr('method'),
          data: {
            street: $('#flyd_dashboardbundle_address_street').val(),
            streetComp: $('#flyd_dashboardbundle_address_streetComp').val(),
            zipcode: $('#flyd_dashboardbundle_address_zipcode').val(),
            city: $('#flyd_dashboardbundle_address_city').val(),
            cityComp: $('#flyd_dashboardbundle_address_cityComp').val(),
            type: $('#flyd_dashboardbundle_address_type').val()
          },
          beforeSend: function(data) {
            console.log('beforsend');
          },
          success: function(data) {
            if(data['code'] == 200) {
                $('#contacts').append(data['response']);
            }
            else {
              $parentBloc.append('erreur');
            }
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log('error');
          }
        });
    });

});


</script>
{% endblock %}
