{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.name}}</title>
{% endblock %}

{% block body %}
        
    <a href="{{ path('client_edit', { 'id': entity.id }) }}" class="btn btn--edit"></a>
    <h1 class="lvl1">{{entity.name}}</h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc-inline-edition">
                <h2 class="bloc__title">Informations générales</h2>

                <div class="form-group">
                    
                    <label class="control-label">Date d'entrée</label>

                    <div class="data">
                        {{ entity.entrance| localizeddate('full', 'none', 'fr') }}
                    </div>

                </div>

                {% if entity.origin %}
                <div class="form-group">
                    
                    <label class="control-label">Origine</label>

                    <div class="data">
                        {{ entity.origin.name }}
                    </div>

                </div>
                {% endif %}
                
                <div class="form-group">
                    
                    <label class="control-label">Type de Client</label>

                    <div class="data">
                    {% if entity.type == 0 %}
                        <p>Actuel</p>
                    {% elseif entity.type == 1 %}
                        <p>Prospect</p>
                    {% endif %}
                    </div>
                    
                </div>

                {%for address in entity.addresses %}

                <div class="form-group">
                    {% if address.type == 0 %}
                        <label class="control-label">Adresse</label>
                    {% elseif address.type == 1 %}
                        <label class="control-label">Adresse de facturation</label>
                    {% elseif address.type == 2 %}
                        <label class="control-label">Adresse d'expédition</label>
                    {% endif %}
                    <div class="data">
                        <p>{{ address.street }}</p>
                        <p>{{ address.streetComp }}</p>
                        <p>{{ address.zipcode }} {{ address.city }} {{ address.cityComp }}</p>
                    </div>
                    
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Contacts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc">
                <h2 class="bloc__title">Contacts</h2>
                <div class="row" id="contacts">
                    {% for contact in entity.contacts %}
                      {% include "FlydDashboardBundle:Contact:show.html.twig" %}                    
                    {% endfor %}
                </div> 
                <a href="{{ path('contact_ajax_delete') }}" class="pull-right btn btn--add">+</a> 
                {{ render(controller('FlydDashboardBundle:Contact:getForm', {'id': entity.id})) }}
            </div>
        </div>
    </div>

     <!-- Besoins -->
    <div class="row">
        <div class="col-sm-12">
            <div class="bloc">
                <h2 class="bloc__title">Besoins</h2>
                <div class="row">
                    {%for contact in entity.contacts %}
                    <div class="col-sm-3">
                        {% if contact.firstname %}<p class="contact__title">{{ contact.firstname }} {{ contact.lastname }}</p>{% endif %}
                        {% if contact.job %}<p class="contact__job">{{ contact.job }}</p>{% endif %}
                        {% if contact.email %}<p class="contact__email">{{ contact.email }}</p>{% endif %}
                        {% if contact.phone %}<p class="contact__phone">{{ contact.phone }}</p>{% endif %}
                        {% if contact.mobile %}<p class="contact__mobile">{{ contact.mobile }}</p>{% endif %}
                    </div>
                    {% endfor %}
                </div> 
                <a href="#" class="pull-right btn btn--add">+</a>
            </div>    
        </div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {


    // more buttons
    $('.btn--add').next().hide();
    $('.btn--add').on('click', function(e){
        e.preventDefault();
        var $this = $(this);
        $this.next().toggle();
    });

    $(document).on('submit', '#flyd_dashboardbundle_address, #flyd_dashboardbundle_contact', function(e){
        e.preventDefault();
        var $this = $(this);
            loadItem($this);
    });

    function loadItem($this) {
        var $parentBloc = $this.parent();

        $.ajax({
          url:            $this.attr('action'),
          type:           $this.attr('method'),
          data: $this.serialize(),
          beforeSend: function(data) {
            console.log('beforsend');
          },
          success: function(data) {
            console.log(data);
            if(data['code'] == 200) {
                $parentBloc.parent().find('h2 + .row').append(data['response']);
                $parentBloc.find('input, select').val('');
            }
            else {

              $('#addresses').prepend('erreur');
            }
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log('error');
          }
        });

    }

});


</script>
{% endblock %}