<div class="col-sm-3 address item">
    <p class="address_type">{{address.type.name}}</p>
    <p class="address__street">{{ address.building }}</p>
    <p class="address__street">{{ address.street }}</p>
    <p class="address__street">{{ address.streetComp }}</p>
    <p class="address__city">{{ address.zipcode }} {{ address.city }} {{ address.cityComp }}</p>
    <a class="line--edit" data-id="{{ address.id }}" href="{{ path('address_edit', {'id':address.id}) }}">Modifier</a> - 
    <a class="line--remove" data-id="{{ address.id }}" href="{{ path('address_delete', {'id':address.id}) }}">Supprimer</a>
</div>
