{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.username}} - Modifier</title>
{% endblock %}

{% block top %}
    <p>
        <span class="prev"><a href="{{ path('user_list') }}">Utilisateurs</a></span>
        <span class="prev"><a href="{{ path('user_list', {'id': entity.id}) }}">{{ entity.username }}</a></span>
        Modifier
    </p>
{% endblock %}

{% block body %}
    
    <div class="title__container">
      <h1 class="lvl1">{{entity.username}} - Modifier</h1>
    </div>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

	{% if form_errors(form) %}
	<div class="row">
		<div class="col-sm-12">
			<div class="bloc">
    			{{ form_errors(form) }}
			</div>
		</div>
	</div>
	{% endif %}

  {% form_theme form 'FlydDashboardBundle::errors.html.twig' %}


    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc-inline-edition edit">
                <h2 class="bloc__title">Informations générales</h2>

                <div class="form-group">
                	{{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': 'control-label'}}) }}


                  <div class="data">
                    {# Génération de l'input. #}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                  </div>
        					{{ form_errors(form.username) }}
                </div>

                <div class="form-group">
                	{{ form_label(form.job, "Profession", {'label_attr': {'class': 'control-label'}}) }}


                  <div class="data">
                    {# Génération de l'input. #}
                    {{ form_widget(form.job, {'attr': {'class': 'form-control'}}) }}
                  </div>
        					{{ form_errors(form.job) }}
                </div>

                <div class="form-group">
                  {{ form_label(form.email, "Email", {'label_attr': {'class': 'control-label'}}) }}


                  <div class="data">
                    {# Génération de l'input. #}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  {{ form_errors(form.email) }}
                </div>

                <div class="form-group">
                  {{ form_label(form.password.first, "Mot de passe", {'label_attr': {'class': 'control-label'}}) }}


                  <div class="data">
                    {# Génération de l'input. #}
                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  {{ form_errors(form.password.first) }}
                </div>

                <div class="form-group">
                  {{ form_label(form.password.second, "Mot de passe (encore)", {'label_attr': {'class': 'control-label'}}) }}


                  <div class="data">
                    {# Génération de l'input. #}
                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  {{ form_errors(form.password.second) }}
                </div>

                <div class="form-group">
                  {{ form_label(form.image.file, "Profil", {'label_attr': {'class': 'control-label'}}) }}


                  <div class="data">
                    {# Génération de l'input. #}
                    {{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  {{ form_errors(form.image.file) }}
                </div>

	           {{ form_widget(form.save) }}
	           {{ form_rest(form) }}
            </div>
        </div>
    </div>

	{# Fermeture de la balise <form> du formulaire HTML #}
	{{ form_end(form) }}

{% endblock %}
