<div class="row" id="newuser">
	<form  id="add_user" action="{{path('project_ajax_add_user',  {'id': entity.id} )}}" method="post">
		<div class="col-sm-12 bloc-inline-edition">
			<h2 class="bloc__title">Ajouter un utilisateur <span>- <a href="{{ path('user_add') }}">Créer un utilisateur ?</a></span></h2>		
			<select name="user_id" id="user_id" class="form-control">
			{% for entity in entities %}
				<option value="{{entity.id}}">{{entity.username}} - {{entity.job}}</option>
			{% endfor %}
			</select>
			<input type="submit" class="btn--save--reverse" value="Ajouter" />
		</div>
	</div>
</div>
