{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.username}}</title>
{% endblock %}

{% block body %}
        
    {% if app.user.id == entity.id %}
        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn--edit"></a>
    {% endif %}
    <h1 class="lvl1">{{entity.username}}</h1>

    {% include "FlydDashboardBundle::flash.html.twig" %}


    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc-inline-edition">
                <h2 class="bloc__title">Informations générales</h2>

                <div class="form-group">
                    
                    <label class="control-label">Fonction</label>

                    <div class="data">
                        {{ entity.job }}
                    </div>

                </div>

                <div class="form-group">
                    
                    <label class="control-label">Email</label>

                    <div class="data">
                        <p>{{ entity.email }}</p>
                    </div>
                    
                </div>


                <div class="form-group">
                    <label class="control-label">Profil</label>
                    <div class="data">
                        {% if entity.image %}
                            <img src="{{ entity.image.webPath | apply_filter('miniature') }}" />
                        {% endif %}
                    </div>
                    
                </div>

            </div>
        </div>
    </div>

{% endblock %}
