<div class="need col-sm-6">
    <a href="{{ path('need_delete', { 'id': need.id }) }}" data-id="{{ need.id }}" class="pull-right btn--delete dashicons dashicons-trash"></a>
    <a href="{{ path('need_edit', { 'id': need.id }) }}" class="pull-right btn--edit dashicons dashicons-edit"></a>

    <p class="need__title"><a href="{{ path('need_show', { 'id': need.id }) }}">{{need.title}}</a></p>
    <p class="need__description">{{need.description}}</p>
    {% if need.projects %}
        <h3 class="bloc__subtitle">Projets</h3>
        <ul class="need__projects">                                
        {% for project in need.projects %}
            <li class="need__project"><a href="{{ path('project_show', { 'id': project.id }) }}">{{project.title}}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ path('project_add', { 'id': need.id }) }}" class="pull-right btn--save--reverse">Ajouter un projet</a>
</div>
