{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.client}} >  {{entity.title}}</title>
{% endblock %}

{% block body %}

    <div class="title__container">
        <p class="breadcrumb"><a href="{{ path('client_show', { 'id': entity.client.id }) }}">{{entity.client}}</a></p>
        <a href="{{ path('need_delete', { 'id': entity.id }) }}" class="btn btn--delete">Delete</a>
        <a href="{{ path('need_edit', { 'id': entity.id }) }}" class="btn btn--edit">Edit</a>
        <h1 class="lvl1">{{entity.title}}</h1>
    </div>
    
    <div class="row">
        <div class="col-sm-8">
            <div class="bloc bloc--general bloc-inline-edition">
                <h2 class="bloc__title">Informations générales</h2>

                <div class="form-group">
                    
                    <label class="control-label">Date de début</label>

                    <div class="data">
                        {{ entity.startDate| localizeddate('full', 'none', 'fr') }}
                    </div>

                </div>


                <div class="form-group">
                    
                    <label class="control-label">Deadline</label>

                    <div class="data">
                        {% if entity.deadline %}
                            {{ entity.deadline| localizeddate('full', 'none', 'fr') }}
                        {% else %}
                            Aucun(e)
                        {% endif %}
                    </div>

                </div>


                <div class="form-group">
                    
                    <label class="control-label">Date de fin</label>

                    <div class="data">
                        {% if entity.endDate %}
                            {{ entity.endDate| localizeddate('full', 'none', 'fr') }}
                        {% else %}
                            Aucun(e)
                        {% endif %}
                    </div>

                </div>
                
                <div class="form-group">
                    
                    <label class="control-label">Description</label>

                    <div class="data">
                        {{ entity.description }}
                    </div>

                </div>
            </div>
        </div>

        <!-- Projects -->
        <div class="col-sm-4">
            <div class="bloc">
                <h2 class="bloc__title">Projets</h2>
                <p>
                    <ul class="need__projects">
                {% for project in entity.projects %}
                    <li>
                        <a href="{{path('project_show', {'id': project.id}) }}">{{project.title}}</a>
                    </li>       
                {% endfor %}
                </ul>
                </p>
                <a href="{{ path('project_add', { 'id': entity.id }) }}" class="pull-right btn--save--reverse">Ajouter un projet</a>
            </div>
        </div>
    </div>


{% endblock %}